.comment-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  background-color: var(--white);
  padding: 1rem;
  min-width: 300px;
  .reply-text {
    margin-left: 8px;
  }
  @media (max-width: 470px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .vote-button-container {
    display: flex;
    justify-content: center;
    @media (max-width: 470px) {
      padding-right: 25px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }

  .comment-container {
    .comment-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 1rem;
        .avatar-image {
          height: 40px;
        }
        .username {
          font-weight: 500;
        }
        .createdAt {
          color: var(--grayish-blue);
          font-size: 14px;
        }
      }
      .right {
        display: flex;
        align-items: center;
      }
    }
    .comment-body {
      .content {
        display: flex;
        color: var(--grayish-blue);
      }
    }
  }
}
